@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap');

body
{
  background-color: #bfbfbf;
}

.Conteiner1
{
    font-family: 'Poppins', sans-serif;
    background-color:white;
    border: 5px solid #14275a;
    
    margin-left: 150px;
    margin-right: 150px;

    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    border-bottom-left-radius: 20px;
}

.Conteiner
{
    font-family: 'Poppins', sans-serif;
    background-color:white;
    border: 5px solid #14275a;
    margin-left: 150px;
    margin-right: 150px;

    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    border-bottom-left-radius: 20px;
}

.Comentario
{
  margin-top: none;
}

.Mensaje
{
    font-family: 'Poppins', sans-serif;
    background-color: #e89451;
    margin-left: 10px;
    margin-bottom: 10px;
    margin-right: 10px;
    margin-top: 1px;
    border-style: solid ;
    -moz-border-radius: 7px 27px 100px 0px;

    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    border-bottom-left-radius: 20px;

}
.Texto
{
  padding: 10px;
  background-color: #e89451;
  margin: 10px;
  width: 98%;
  border: none;
  margin-left:10px;
  margin-right: 10px;
  font-family: 'Poppins', sans-serif;
}
.star-rating 
{
    size: 20px;
    color: #14275a;
    padding-left: 30px;
    padding-bottom: 10px;
}

p 
{
  font-family: 'Poppins', sans-serif;
  color: black;
  padding: 10px;
}

button
{
  font-family: 'Poppins', sans-serif;
  border: #95A5A6;
  background-color: gray;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
  border-bottom-left-radius: 20px;
  padding: 10px;
}

h1
{
  padding: 10px;
  text-align:center;
}
